header li{
        list-style: none;
    }
     ul li a:link
        {
            text-decoration: none;
            background-color: blue;
            border: 2px solid black;
            margin-bottom: 2px;
            display:block;
            width: 200px;
            color: azure;
        }
        ul li a:hover
        {
            background-color: magenta;
            color:white;
        }
         ul li a:focus
        {
            background-color: yellow;
            color:blue;
        }
        ul li a:visited{
          color:white;
        }

    p.info{
        background-color: brown;
        color: white;
    }
    p.child{
        background-color: aqua;
        color: black;
    }
    p.school{
      background-color: black;
      color: white;
    }
    p.out{
      background-color: blueviolet;
      color: blanchedalmond;
    }
    p.university{
      background-color: darkgray;
      color: black;
    }
    #biography {
      text-align: center;
      font-size: 22px;
    }
.back{
  font-style: italic;
}
.info, .child, .scholl, .out, .university {
  font-size: 120%;
}
#info, #child, #school, #out, #university {
  font-size: 144%;
}

#list {
  text-align: center;
}
.z{
  font-weight: bold;
}
.up{
  text-transform: uppercase;
}
.row {
  width: 100%;
  display: flex;
  text-align: center;

}
.row div{
  display: flex;
  align-items: stretch;
}

.item {
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px 0;
}
a {
  font-size: 24px;
  padding: 15px 0; 
}
@media (min-width: 992px) {
  .row{
      flex-wrap: wrap;
  }
  .col-lg-4 {
      width: 33.33%;
  }

  .col-lg-6 {
      width: 50%;
  }

}

@media (min-width: 768px) and (max-width: 992px) {
  .row {
      flex-wrap: wrap;
  }

  .col-md-6 {
      width: 50%;
  }

  .col-md-12 {
      width: 100%;
  }
}

@media (max-width: 768px) {
  .row {
      flex-direction: column;
  }

  .col-sm-12 {
      width: 100%;
  }
}