tr>td:nth-child(odd){
      background-color: grey;
      color: darkblue;
    }
    table, tr, td ,th  {
      border: 1px solid black;
      border-collapse: collapse;
    }
    h1{
      text-align: center;
      font-size: 22px;
    }
    .back{
  font-style: italic;
}
h2{
  text-align: center;
}
th{
  text-align: center;
  background-color: green;
  color:yellow;
  font-weight: bold ;
}
td:last-child{
  text-align: right;
}
@media (min-width: 992px) {
  td {
      font-size: calc(16px + 20%);
  }
  th{
      font-size: calc(16px + 30%);
  }
}

@media (min-width: 768px) and (max-width: 992px) {

  td {
      font-size: calc(15px + 10%);
  }
  th{
      font-size: calc(15px + 20%);
  }
}

@media (max-width: 768px) {
  th{
      font-size: calc(15px + 10%);
  }
}